
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.main-p4Z {
  width: 100%;
  height: 85.2rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;

  .frame-3-YmF {
    position: absolute;
    left: 3.3rem;
    top: 1.2rem;
    overflow: hidden;
    width: 34.0328rem;
    height: 2rem;

    .group-3-Ueu {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .item-9-41-2gR {
        white-space: nowrap;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3333333333;
        letter-spacing: -0.05rem;
        margin-right: 24.7668rem;
        color: #ffffff;
        font-family: SF Pro Text, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .right-side-jaq {
        margin: 0.433rem 0rem 0.433rem 0rem;
        height: calc(100% - 0.8664rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .mobile-signal-fUV {
          margin: 0rem 0.503rem 0rem 0rem;
          width: 1.7rem;
          height: 1.0667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .wifi-zWm {
          margin: 0rem 0.503rem 0.037rem 0rem;
          width: 1.5272rem;
          height: 1.0966rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .battery-jDT {
          height: 1.1333rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0003rem;
          width: 2.4328rem;
        }
      }
    }
  }
  .auto-group-1yrr-3zq {
    display: flex;
    align-items: center;
    width: 35.2rem;
    height: 2.9rem;
    position: absolute;
    left: 1.9rem;
    top: 5.9rem;

    .logowatchwise-ytV {
      height: 100%;
      background-color: #231f20;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-right: 1.9rem;
      box-sizing: border-box;
      padding: 0.2rem 0.5rem 0.2rem 0.4rem;

      .rectangle-46-7jo {
        width: 12.9rem;
        height: 2.5rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-Sn5 {
      width: 1.995rem;
      height: 2rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.1rem 16.105rem 0rem 0rem;
    }
    .group-NQq {
      height: 1.3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.8rem;
      width: 1.4rem;
    }
  }
  .rectangle-68-hi1 {
    background-color: #d9d9d9;
    width: 35rem;
    height: 0.05rem;
    position: absolute;
    left: 1.9rem;
    top: 77.4rem;
  }
  .auto-group-hue5-Ehw {
    width: 32.9rem;
    height: 3rem;
    position: absolute;
    left: 3rem;
    top: 78.7rem;
    display: flex;
    align-items: center;

    .auto-group-6cpy-ArV {
      box-sizing: border-box;
      padding: 0.448rem 12.199rem 0.5rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .addicon-up5 {
        height: 2rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.052rem 13.7rem 0rem 0rem;
        width: 2rem;
      }
      .feedicon-eFs {
        margin-bottom: 0.0326rem;
        width: 2.0006rem;
        height: 2.0195rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .mypageiconvar-BFo {
      cursor: pointer;
      border-radius: 1.5rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:e98d46241735b2135cf02b811b9197cb8cbcd4c6');
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
    }
  }
  .auto-group-vdvs-HZj {
    display: flex;
    align-items: center;
    width: 35rem;
    height: 4.7rem;
    position: absolute;
    left: 1.9rem;
    top: 14.1rem;

    .ellipse-1-DiH {
      height: 4.7rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:93e0f96de557b1fb52ba37ce9eaf0081f9788671');
      border-radius: 2.35rem;
      flex-shrink: 0;
      width: 4.7rem;
    }
    .auto-group-lq1t-xQy {
      box-sizing: border-box;
      padding: 0.5rem 0rem 0.5rem 0.9rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-v63s-h7f {
        display: flex;
        background-color: #8b8b8b;
        margin-right: 1.1rem;
        box-sizing: border-box;
        padding: 0.9rem 1.3rem 0.8rem 1.05rem;
        height: 100%;
        align-items: center;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .director77-RJZ {
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 9.45rem;
          letter-spacing: -0.15rem;
          font-weight: 400;
          line-height: 1.25;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-size: 1.6rem;
        }
        .match-LRX {
          letter-spacing: -0.15rem;
          font-size: 1.6rem;
          line-height: 1.25;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
        }
      }
      .vector-eBK {
        margin-top: 0.1rem;
        width: 2.2rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-xqyf-xxh {
    width: 35rem;
    height: 4.7rem;
    position: absolute;
    left: 1.9rem;
    top: 34.4rem;
    display: flex;
    align-items: center;

    .ellipse-2-h9b {
      background-image: url('REPLACE_IMAGE:ab56f468dfbcccf9111f79fa8780237dd98e644f');
      border-radius: 2.35rem;
      flex-shrink: 0;
      width: 4.7rem;
      height: 4.7rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .auto-group-atdw-pzu {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.5rem 0rem 0.5rem 0.9rem;
      height: 100%;
      display: flex;
      align-items: center;

      .auto-group-uxop-ej3 {
        box-sizing: border-box;
        margin-right: 1.1rem;
        flex-shrink: 0;
        line-height: 1.25;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: -0.15rem;
        color: #ffffff;
        white-space: nowrap;
        background-color: #8b8b8b;
        padding: 0.9rem 1.3rem 0.8rem 16.8rem;
        border-radius: 0.5rem;
      }
      .vector-iD7 {
        margin-top: 0.1rem;
        width: 2.2rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-xcy9-rKK {
    left: 1.9rem;
    top: 54.2rem;
    display: flex;
    align-items: center;
    width: 35rem;
    height: 4.7rem;
    position: absolute;

    .ellipse-3-am7 {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:14c43f4016dc875b21469bf79463ab743f27238a');
      border-radius: 2.35rem;
      flex-shrink: 0;
      width: 4.7rem;
      height: 4.7rem;
      background-size: 100% 100%;
    }
    .auto-group-yfrj-Kih {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.5rem 0rem 0.5rem 0.9rem;
      height: 100%;
      display: flex;
      align-items: center;

      .auto-group-ukms-Tpu {
        display: flex;
        align-items: center;
        margin-right: 1.1rem;
        box-sizing: border-box;
        height: 100%;
        flex-shrink: 0;
        padding: 0.9rem 1.3rem 0.8rem 1.4rem;
        background-color: #8b8b8b;
        border-radius: 0.5rem;

        .koreanhallbea-zpq {
          margin-right: 6.6rem;
          font-size: 1.6rem;
          line-height: 1.25;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-weight: 400;
          letter-spacing: -0.15rem;
          color: #ffffff;
          flex-shrink: 0;
        }
        .match-8RF {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          line-height: 1.25;
          letter-spacing: -0.15rem;
          font-size: 1.6rem;
        }
      }
      .vector-e8h {
        margin-top: 0.1rem;
        width: 2.2rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-3vho-aY9 {
    position: absolute;
    left: 2.3rem;
    top: 20.6rem;
    display: flex;
    column-gap: 0.2rem;
    align-items: center;
    width: 34.6rem;
    height: 12.4rem;

    .rectangle-17-WAu {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:b6c0a25380e618ba5dd2d5e0b6668a4a99bd203d');
      flex-shrink: 0;
      width: 8.5rem;
      height: 12.4rem;
    }
    .rectangle-18-FPP {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 8.5rem;
      height: 12.4rem;
    }
    .rectangle-19-zrm {
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .rectangle-20-MBX {
      flex-shrink: 0;
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-81tf-thF {
    top: 40.4rem;
    width: 34.6rem;
    height: 12.4rem;
    position: absolute;
    left: 2.3rem;

    .rectangle-71-d93 {
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      width: 8.5rem;
      position: absolute;
      background-position: center;
      background-image: url('REPLACE_IMAGE:b6c0a25380e618ba5dd2d5e0b6668a4a99bd203d');
      height: 12.4rem;
      background-size: 100% 100%;
    }
    .rectangle-72-xBK {
      left: 8.7rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 8.5rem;
      height: 12.4rem;
      position: absolute;
    }
    .rectangle-73-62d {
      vertical-align: top;
      width: 8.5rem;
      height: 12.4rem;
      position: absolute;
      left: 17.4rem;
      top: 0;
      object-fit: cover;
    }
    .rectangle-74-Rqb {
      height: 12.4rem;
      position: absolute;
      left: 26.1rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 8.5rem;
    }
    .rectangle-2-B45 {
      top: 0.1rem;
      background-color: rgba(118, 181, 255, 0.5);
      border-radius: 1.5rem;
      width: 24.8rem;
      height: 6.3rem;
      position: absolute;
      left: 5rem;
    }
    .item--ho7 {
      width: 14.8rem;
      height: 2rem;
      left: 10rem;
      text-align: center;
      font-weight: 800;
      line-height: 0.8333333333;
      letter-spacing: 0.05rem;
      color: rgba(255, 255, 255, 0.6999999881);
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      top: 2.3rem;
      font-size: 2.4rem;
      white-space: nowrap;
    }
  }
  .auto-group-tkxy-xyw {
    width: 34.6rem;
    height: 12.4rem;
    position: absolute;
    left: 2.3rem;
    top: 60.1rem;
    display: flex;
    column-gap: 0.2rem;
    align-items: center;

    .rectangle-76-HmK {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:b6c0a25380e618ba5dd2d5e0b6668a4a99bd203d');
      flex-shrink: 0;
      width: 8.5rem;
      height: 12.4rem;
    }
    .rectangle-77-Qqw {
      flex-shrink: 0;
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-78-N25 {
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .rectangle-79-hq3 {
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .vector-49o {
    width: 1.4rem;
    height: 0.8rem;
    position: absolute;
    left: 19rem;
    top: 75.8rem;
    object-fit: contain;
    vertical-align: top;
  }
}
