
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.main-5km {
  position: relative;
  overflow: hidden;
  background-color: #000000;
  width: 100%;
  height: 85.2rem;

  .frame-3-Dc5 {
    top: 1.2rem;
    overflow: hidden;
    width: 34.0328rem;
    height: 2rem;
    position: absolute;
    left: 3.4rem;

    .group-3-ZA9 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .item-9-41-K9K {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.3333333333;
        font-family: SF Pro Text, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 24.7668rem;
        font-weight: 600;
        letter-spacing: -0.05rem;
        color: #ffffff;
        flex-shrink: 0;
      }
      .right-side-23j {
        align-items: center;
        flex-shrink: 0;
        margin: 0.433rem 0rem 0.433rem 0rem;
        height: calc(100% - 0.8664rem);
        display: flex;

        .mobile-signal-Ynm {
          height: 1.0667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.503rem 0rem 0rem;
          width: 1.7rem;
        }
        .wifi-sq3 {
          margin: 0rem 0.503rem 0.037rem 0rem;
          width: 1.5272rem;
          height: 1.0966rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .battery-De1 {
          margin-top: 0.0003rem;
          width: 2.4328rem;
          height: 1.1333rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .rectangle-68-9Xf {
    left: 2.2rem;
    top: 77.4rem;
    background-color: #d9d9d9;
    width: 35rem;
    height: 0.05rem;
    position: absolute;
  }
  .auto-group-wxzb-5gD {
    align-items: center;
    width: 32.8rem;
    height: 3rem;
    position: absolute;
    left: 3.4rem;
    top: 78.7rem;
    display: flex;

    .auto-group-jeth-1pm {
      box-sizing: border-box;
      padding: 0.5rem 12.199rem 0.48rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .vector-xED {
        flex-shrink: 0;
        margin: 0rem 13.6rem 0.02rem 0rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-HXP {
        width: 2.0006rem;
        height: 2.0195rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .ellipse-1-ESd {
      height: 3rem;
      background-image: url('REPLACE_IMAGE:e98d46241735b2135cf02b811b9197cb8cbcd4c6');
      flex-shrink: 0;
      border-radius: 1.5rem;
      width: 3rem;
      cursor: pointer;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .vector-kQy {
    vertical-align: top;
    width: 1.4rem;
    height: 0.8rem;
    position: absolute;
    left: 19.3rem;
    top: 75.7rem;
    object-fit: contain;
  }
  .auto-group-xbk5-ULy {
    width: 34.8rem;
    height: 2.9003rem;
    position: absolute;
    left: 2.2rem;
    top: 5.9rem;
    display: flex;
    align-items: flex-end;

    .group-7-bRb {
      background-color: #231f20;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 0rem 9.3rem 0rem 0rem;
      box-sizing: border-box;
      padding: 0.2rem 0.5rem 0.2rem 0.4rem;
      height: calc(100% - 0.0003rem);

      .rectangle-46-K6h {
        width: 12.9rem;
        height: 2.5rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-Sh7 {
      flex-shrink: 0;
      margin: 0rem 1.3rem 0.1rem 0rem;
      width: 2.2rem;
      height: 1.7rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-xvM {
      width: 1.7rem;
      height: 1.8rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.3rem 0.1rem 0rem;
    }
    .vector-6Wm {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.8351rem;
      width: 1.9649rem;
      height: 2.0003rem;
    }
    .group-Ess {
      margin-bottom: 0.3003rem;
      width: 1.4rem;
      height: 1.3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-bdwf-PEy {
    display: flex;
    align-items: flex-end;
    width: 33.45rem;
    height: 2rem;
    position: absolute;
    left: 2.65rem;
    top: 9.8rem;

    .update-io3 {
      flex-shrink: 0;
      margin: 0rem 23.55rem 0rem 0rem;
      cursor: pointer;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: -0.15rem;
      white-space: nowrap;
      line-height: 1.3333333333;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-p5P {
      height: 1.6rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 1.6rem;
    }
  }
  .auto-group-r769-Af3 {
    column-gap: 0.2rem;
    align-items: center;
    width: 34.6rem;
    height: 12.4rem;
    position: absolute;
    left: 2rem;
    top: 12.5rem;
    display: flex;

    .rectangle-69-t5F {
      width: 8.5rem;
      height: 12.4rem;
      cursor: pointer;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:9cd3bea2fcb926acacb717a81b44ff80c1d6010b');
      flex-shrink: 0;
    }
    .rectangle-71-pUh {
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 8.5rem;
    }
    .rectangle-73-m93 {
      background-position: -0.1019rem 0;
      background-image: url('REPLACE_IMAGE:9eb67c9ca6b89be889e5dfb142c219d214d4fdf1');
      flex-shrink: 0;
      width: 8.5rem;
      height: 12.4rem;
      position: relative;
      background-size: 102.398% 100%;
    }
    .rectangle-75-4tq {
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .rectangle-77-Qxh {
    height: 12.4rem;
    cursor: pointer;
    position: relative;
    left: 2rem;
    background-image: url('REPLACE_IMAGE:9eb67c9ca6b89be889e5dfb142c219d214d4fdf1');
    width: 8.5rem;
    top: 44.2rem;
    background-size: 102.398% 100%;
    background-position: -0.1019rem 0;
  }
  .auto-group-dql9-uuT {
    top: 25.6rem;
    display: flex;
    column-gap: 0.2rem;
    align-items: center;
    width: 34.6rem;
    height: 12.4rem;
    position: absolute;
    left: 2rem;

    .rectangle-70-qo7 {
      height: 12.4rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:b6c0a25380e618ba5dd2d5e0b6668a4a99bd203d');
      flex-shrink: 0;
      width: 8.5rem;
    }
    .rectangle-72-zAD {
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 8.5rem;
    }
    .rectangle-74-8nD {
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .rectangle-76-HQD {
      vertical-align: top;
      flex-shrink: 0;
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
    }
  }
  .auto-group-xpsy-38V {
    left: 2.2rem;
    top: 62.6rem;
    display: flex;
    align-items: center;
    width: 17.2rem;
    height: 12.4rem;
    position: absolute;

    .rectangle-78-Ayo {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.2rem;
      width: 8.5rem;
      height: 12.4rem;
    }
    .rectangle-79-KLu {
      flex-shrink: 0;
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-wv3b-GG9 {
    top: 38.9rem;
    display: flex;
    align-items: center;
    width: 13rem;
    height: 4.7rem;
    position: absolute;
    left: 2rem;

    .ellipse-2-QNM {
      margin-right: 2rem;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:93e0f96de557b1fb52ba37ce9eaf0081f9788671');
      background-position: center;
      border-radius: 2.35rem;
      flex-shrink: 0;
      width: 4.7rem;
      height: 4.7rem;
      background-size: 100% 100%;
    }
    .director77-L17 {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      letter-spacing: -0.15rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.1rem;
      cursor: pointer;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-yflm-qTf {
    top: 57.2rem;
    display: flex;
    align-items: center;
    width: 14.2rem;
    height: 4.7rem;
    position: absolute;
    left: 2rem;

    .ellipse-3-Mwo {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2.35rem;
      flex-shrink: 0;
      margin-right: 2.1rem;
      width: 4.7rem;
      height: 4.7rem;
      background-image: url('REPLACE_IMAGE:ab56f468dfbcccf9111f79fa8780237dd98e644f');
    }
    .dokkeebi02-tRw {
      letter-spacing: -0.15rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 0.1rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
