
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.mypage-1Tw {
  height: 85.2rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  width: 100%;

  .frame-3-wMb {
    width: 34.0328rem;
    height: 2rem;
    position: absolute;
    left: 3.3rem;
    top: 1.2rem;
    overflow: hidden;

    .group-3-4BK {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .item-9-41-1cM {
        margin-right: 24.7668rem;
        text-align: center;
        font-weight: 600;
        font-family: SF Pro Text, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.5rem;
        line-height: 1.3333333333;
        letter-spacing: -0.05rem;
        color: #ffffff;
        white-space: nowrap;
      }
      .right-side-K7F {
        align-items: center;
        flex-shrink: 0;
        margin: 0.433rem 0rem 0.433rem 0rem;
        height: calc(100% - 0.8664rem);
        display: flex;

        .mobile-signal-qrH {
          margin: 0rem 0.503rem 0rem 0rem;
          width: 1.7rem;
          height: 1.0667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .wifi-NLR {
          width: 1.5272rem;
          height: 1.0966rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.503rem 0.037rem 0rem;
        }
        .battery-uLM {
          height: 1.1333rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0003rem;
          width: 2.4328rem;
        }
      }
    }
  }
  .rectangle-68-qE1 {
    top: 77.4rem;
    background-color: #d9d9d9;
    width: 35rem;
    height: 0.05rem;
    position: absolute;
    left: 1.9rem;
  }
  .auto-group-jl57-A1P {
    left: 3rem;
    top: 78.7rem;
    display: flex;
    align-items: center;
    width: 32.9rem;
    height: 3rem;
    position: absolute;

    .auto-group-rbmj-HLu {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.5rem 12.099rem 0.48rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;

      .vector-23b {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.8rem 0.02rem 0rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        object-fit: contain;
      }
      .vector-9tu {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2.0006rem;
        height: 2.0195rem;
      }
    }
    .ellipse-1-tbb {
      width: 3rem;
      box-sizing: border-box;
      background-position: center;
      border-radius: 1.5rem;
      flex-shrink: 0;
      height: 3rem;
      border: solid 0.2rem #9bfff3;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:e98d46241735b2135cf02b811b9197cb8cbcd4c6');
    }
  }
  .auto-group-gfq3-CMP {
    width: 39.1rem;
    height: 32.4rem;
    position: absolute;
    left: 0.1rem;
    top: 9.1rem;

    .ellipse-1-Wcy {
      width: 4.7rem;
      left: 2.6rem;
      background-size: 100% 100%;
      background-position: center;
      border-radius: 2.35rem;
      height: 4.7rem;
      position: absolute;
      top: 2.1rem;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:e98d46241735b2135cf02b811b9197cb8cbcd4c6');
    }
    .group-6-EJ5 {
      top: 2.1rem;
      display: flex;
      align-items: center;
      width: 25.5rem;
      height: 4.9rem;
      position: absolute;
      left: 10.3rem;

      .auto-group-u3er-MtV {
        box-sizing: border-box;
        padding: 0.2rem 0.1rem 0.4rem 0.1rem;
        width: 5.1rem;
        height: 100%;
        background-color: #000000;
        flex-shrink: 0;

        .sex-tNd {
          margin-bottom: 0.3rem;
          width: 100%;
          text-align: center;
          font-size: 1.1rem;
          font-weight: 400;
          letter-spacing: -0.15rem;
          line-height: 1.8181818182;
          color: rgba(166, 166, 166, 0.8000000119);
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--PqB {
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          white-space: nowrap;
          width: 100%;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          letter-spacing: -0.15rem;
        }
      }
      .auto-group-czsf-6jb {
        padding: 0.2rem 0rem 0.4rem 0rem;
        width: 5.1rem;
        height: 100%;
        background-color: #000000;
        flex-shrink: 0;
        box-sizing: border-box;

        .age-Rms {
          margin-bottom: 0.3rem;
          color: rgba(166, 166, 166, 0.8000000119);
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.8181818182;
          letter-spacing: -0.15rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .item-40-Ybb {
          width: 100%;
          line-height: 1.4285714286;
          letter-spacing: -0.15rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          color: #ffffff;
        }
      }
      .auto-group-ww2d-449 {
        box-sizing: border-box;
        padding: 0.2rem 0.1rem 0.4rem 0.1rem;
        width: 5.1rem;
        height: 100%;
        background-color: #000000;
        flex-shrink: 0;

        .mbti-BeZ {
          white-space: nowrap;
          margin-bottom: 0.3rem;
          font-size: 1.1rem;
          font-weight: 400;
          letter-spacing: -0.15rem;
          color: rgba(166, 166, 166, 0.8000000119);
          font-family: Inter, 'Source Sans Pro';
          width: 100%;
          text-align: center;
          line-height: 1.8181818182;
        }
        .estj-i8h {
          letter-spacing: -0.15rem;
          color: #ffffff;
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-ypob-cUy {
        align-items: center;
        flex-direction: column;
        display: flex;
        background-color: #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 0.6rem 0.4rem 0.6rem;
        width: 5.1rem;
        height: 100%;

        .item--jJh {
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.3rem 0.3rem 0rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.8181818182;
          letter-spacing: -0.15rem;
          color: rgba(166, 166, 166, 0.8000000119);
        }
        .item--d9B {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          letter-spacing: -0.15rem;
          color: #ffffff;
          flex-shrink: 0;
          margin-right: 0.3rem;
        }
      }
      .auto-group-ba25-85w {
        flex-shrink: 0;
        display: flex;
        padding: 0.2rem 1.7rem 0.4rem 1.6rem;
        width: 5.1rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-color: #000000;
        box-sizing: border-box;

        .item--T8D {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.1rem;
          font-weight: 400;
          color: rgba(166, 166, 166, 0.8000000119);
          margin: 0rem 0rem 0.3rem 0.2rem;
          line-height: 1.8181818182;
          letter-spacing: -0.15rem;
        }
        .a-xam {
          flex-shrink: 0;
          margin-right: 0.3rem;
          text-align: center;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          letter-spacing: -0.15rem;
        }
      }
    }
    .rectangle-68-UJD {
      height: 0.05rem;
      position: absolute;
      left: 9.4rem;
      top: 7.2rem;
      background-color: #d9d9d9;
      width: 26rem;
    }
    .item--obP {
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      font-size: 1.3rem;
      left: 2.5rem;
      top: 8.1rem;
      line-height: 1.5384615385;
      letter-spacing: -0.15rem;
      color: #ffffff;
      width: 32.5rem;
      height: 4rem;
    }
    .item--Xvh {
      width: 1.9rem;
      left: 32.1rem;
      line-height: 1.5384615385;
      letter-spacing: -0.15rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      top: 12.1rem;
      font-size: 1.3rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.6000000238);
    }
    .rectangle-11-qAh {
      width: 8.5rem;
      height: 2.4rem;
      position: absolute;
      left: 2.4rem;
      top: 16.9rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
    }
    .item--xm7 {
      left: 4.3rem;
      font-size: 1.3rem;
      line-height: 1.5384615385;
      letter-spacing: -0.15rem;
      white-space: nowrap;
      width: 3.8rem;
      height: 2rem;
      position: absolute;
      color: #27b1b1;
      font-family: Inter, 'Source Sans Pro';
      cursor: pointer;
      top: 17.1rem;
      font-weight: 400;
    }
    .rectangle-69-4ZF {
      background-repeat: no-repeat;
      width: 8.5rem;
      position: absolute;
      top: 20rem;
      background-size: 100% 100%;
      height: 12.4rem;
      left: 2.3rem;
      background-position: center;
      background-image: url('REPLACE_IMAGE:9cd3bea2fcb926acacb717a81b44ff80c1d6010b');
    }
    .rectangle-71-o13 {
      width: 8.5rem;
      height: 12.4rem;
      position: absolute;
      left: 11rem;
      top: 20rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-73-w7F {
      left: 19.7rem;
      top: 20rem;
      background-size: 102.398% 100%;
      background-position: -0.1019rem 0;
      background-image: url('REPLACE_IMAGE:9eb67c9ca6b89be889e5dfb142c219d214d4fdf1');
      width: 8.5rem;
      height: 12.4rem;
      position: relative;
    }
    .rectangle-75-3AH {
      position: absolute;
      left: 28.4rem;
      top: 20rem;
      object-fit: cover;
      vertical-align: top;
      width: 8.5rem;
      height: 12.4rem;
    }
    .vector-1-BGV {
      left: 35.9rem;
      top: 12.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.5rem;
      height: 1rem;
      position: absolute;
    }
    .rectangle-122-iXK {
      top: 0;
      background-color: rgba(217, 217, 217, 0.8999999762);
      border-radius: 0 0 1rem 1rem;
      width: 39.1rem;
      height: 20.3rem;
      position: absolute;
      left: 0;
    }
    .log-in-FGM {
      color: #141414;
      position: absolute;
      left: 3rem;
      top: 1.9rem;
      line-height: 1.3333333333;
      letter-spacing: -0.05rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.2rem;
      height: 2rem;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .service-MKP {
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 3rem;
      font-weight: 700;
      letter-spacing: -0.05rem;
      line-height: 1.3333333333;
      color: #141414;
      white-space: nowrap;
      width: 5.3rem;
      height: 2rem;
      top: 5.8rem;
      font-size: 1.5rem;
    }
    .terms-and-condition-4jb {
      width: 14.3rem;
      position: absolute;
      left: 3rem;
      font-size: 1.5rem;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      height: 2rem;
      top: 9.7rem;
      font-weight: 700;
      line-height: 1.3333333333;
      letter-spacing: -0.05rem;
      color: #141414;
    }
    .privacy-mtu {
      white-space: nowrap;
      height: 2rem;
      font-size: 1.5rem;
      line-height: 1.3333333333;
      letter-spacing: -0.05rem;
      font-weight: 700;
      color: #141414;
      font-family: Inter, 'Source Sans Pro';
      width: 5.2rem;
      position: absolute;
      left: 3rem;
      top: 13.6rem;
    }
    .rectangle-116-hGm {
      box-sizing: border-box;
      border-radius: 0.1rem;
      cursor: pointer;
      position: absolute;
      top: 18.9rem;
      border: solid 0.1rem #494949;
      background-color: #505050;
      width: 6.1rem;
      height: 0.3rem;
      left: 16.5rem;
    }
  }
  .item--1YM {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5384615385;
    color: rgba(255, 255, 255, 0.6000000238);
    width: 1.9rem;
    position: absolute;
    left: 32.2rem;
    top: 44.4rem;
    letter-spacing: -0.15rem;
  }
  .item--uNq {
    letter-spacing: -0.15rem;
    color: rgba(255, 255, 255, 0.6000000238);
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2rem;
    left: 32.2rem;
    top: 65.5rem;
    font-size: 1.3rem;
    width: 1.9rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.5384615385;
  }
  .auto-group-ljkh-D8d {
    letter-spacing: -0.15rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    position: absolute;
    left: 2.5rem;
    font-weight: 400;
    color: #27b1b1;
    width: 8.5rem;
    font-size: 1.3rem;
    line-height: 1.5384615385;
    white-space: nowrap;
    display: flex;
    height: 2.4rem;
    top: 46.9rem;
    font-family: Inter, 'Source Sans Pro';
    align-items: center;
    justify-content: center;
  }
  .auto-group-vbtd-gY1 {
    width: 8.5rem;
    color: #27b1b1;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    position: absolute;
    top: 69.2rem;
    line-height: 1.5384615385;
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 2.4rem;
    left: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.15rem;
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
  }
  .auto-group-tqvj-9Rb {
    position: absolute;
    left: 2.4rem;
    top: 50.2rem;
    display: flex;
    column-gap: 0.2rem;
    align-items: center;
    width: 34.6rem;
    height: 12.4rem;

    .rectangle-70-UCy {
      width: 8.5rem;
      height: 12.4rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:b6c0a25380e618ba5dd2d5e0b6668a4a99bd203d');
      flex-shrink: 0;
    }
    .rectangle-72-zh7 {
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .rectangle-74-wcM {
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .rectangle-76-tnV {
      width: 8.5rem;
      height: 12.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-jigh-SZ7 {
    width: 29.5rem;
    height: 1.5rem;
    position: absolute;
    left: 2.5rem;
    top: 42.2rem;
    display: flex;
    align-items: center;

    .rectangle-21-Zdj {
      margin-right: 7rem;
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .rectangle-25-WJ5 {
      margin-right: 0.3rem;
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .rectangle-26-44h {
      flex-shrink: 0;
      margin-right: 0.3rem;
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-27-oY5 {
      flex-shrink: 0;
      margin-right: 3.3rem;
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-29-YVf {
      margin-right: 0.3rem;
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .rectangle-30-6GH {
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.3rem;
    }
    .rectangle-31-2fj {
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.3rem;
    }
    .rectangle-32-yay {
      margin-right: 1.4rem;
      width: 1.6rem;
      height: 1.5rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:ead68ba6059de75ec0be3d8fcdb433b3dfd2f281');
      flex-shrink: 0;
    }
    .rectangle-33-7hB {
      flex-shrink: 0;
      margin-right: 0.3rem;
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-34-FoP {
      height: 1.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 1.6rem;
    }
  }
  .auto-group-awhs-zky {
    left: 2.5rem;
    top: 63.2rem;
    display: flex;
    align-items: center;
    width: 29.5rem;
    height: 1.5rem;
    position: absolute;

    .rectangle-35-jCm {
      margin-right: 7rem;
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .rectangle-42-sZs {
      margin-right: 7.1rem;
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .rectangle-37-1g5 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 1.6rem;
      height: 1.5rem;
    }
    .rectangle-43-AJ5 {
      flex-shrink: 0;
      margin-right: 0.3rem;
      width: 1.6rem;
      height: 1.5rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-44-iKb {
      flex-shrink: 0;
      margin-right: 3.6rem;
      width: 1.6rem;
      height: 1.5rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:ead68ba6059de75ec0be3d8fcdb433b3dfd2f281');
    }
    .rectangle-38-3cm {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.3rem;
      width: 1.6rem;
      height: 1.5rem;
    }
    .rectangle-41-CEm {
      flex-shrink: 0;
      width: 1.6rem;
      height: 1.5rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-cc7s-wi9 {
    position: absolute;
    left: 2rem;
    top: 6.5rem;
    display: flex;
    align-items: flex-end;
    width: 34.9rem;
    height: 2.5003rem;

    .auto-group-uzpk-fu3 {
      margin: 0rem 15.3rem 0.3rem 0rem;
      width: 7.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--1CD {
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: -0.15rem;
        color: rgba(255, 255, 255, 0.6999999881);
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.1rem 0.1rem 0rem;
        line-height: 1.4285714286;
        font-weight: 400;
      }
      .rectangle-4-JBK {
        flex-shrink: 0;
        width: 100%;
        height: 0.1rem;
        background-color: #d9d9d9;
      }
    }
    .group-3ub {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.3rem 0.1rem 0rem;
      width: 2.2rem;
      height: 1.7rem;
      cursor: pointer;
      position: relative;
    }
    .vector-Nws {
      flex-shrink: 0;
      margin: 0rem 1.3rem 0.1rem 0rem;
      width: 1.7rem;
      height: 1.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-iF3 {
      margin-right: 1.8351rem;
      width: 1.9649rem;
      height: 2.0003rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .group-G1f {
      height: 1.3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.3003rem;
      width: 1.4rem;
    }
  }
}
