
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.mypage-KkV {
  width: 100%;
  height: 85.2rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}
.mypage-KkV .frame-3-Fe9 {
  width: 34.0328rem;
  height: 2rem;
  position: absolute;
  left: 3.3rem;
  top: 1.2rem;
  overflow: hidden;
}
.mypage-KkV .frame-3-Fe9 .group-3-BXo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.mypage-KkV .frame-3-Fe9 .group-3-BXo .item-9-41-Y7T {
  margin-right: 24.7668rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: -0.05rem;
  color: #ffffff;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-KkV .frame-3-Fe9 .group-3-BXo .right-side-STj {
  margin: 0.433rem 0rem 0.433rem 0rem;
  height: calc(100% - 0.8664rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage-KkV .frame-3-Fe9 .group-3-BXo .right-side-STj .mobile-signal-Aed {
  margin: 0rem 0.503rem 0rem 0rem;
  width: 1.7rem;
  height: 1.0667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .frame-3-Fe9 .group-3-BXo .right-side-STj .wifi-Vgu {
  margin: 0rem 0.503rem 0.037rem 0rem;
  width: 1.5272rem;
  height: 1.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .frame-3-Fe9 .group-3-BXo .right-side-STj .battery-RqT {
  margin-top: 0.0003rem;
  width: 2.4328rem;
  height: 1.1333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .rectangle-68-Yv5 {
  width: 35rem;
  height: 0.05rem;
  position: absolute;
  left: 1.9rem;
  top: 77.4rem;
  background-color: #d9d9d9;
}
.mypage-KkV .auto-group-dqvb-tDF {
  width: 32.9rem;
  height: 3rem;
  position: absolute;
  left: 3rem;
  top: 78.7rem;
  display: flex;
  align-items: center;
}
.mypage-KkV .auto-group-dqvb-tDF .auto-group-axso-QxH {
  box-sizing: border-box;
  padding: 0.5rem 12.099rem 0.48rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-dqvb-tDF .auto-group-axso-QxH .vector-9us {
  margin: 0rem 13.8rem 0.02rem 0rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-dqvb-tDF .auto-group-axso-QxH .vector-5Yd {
  width: 2.0006rem;
  height: 2.0195rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-dqvb-tDF .ellipse-1-coT {
  width: 3rem;
  height: 3rem;
  border: solid 0.2rem #9bfff3;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-bg-mbP.png');
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j {
  width: 33.2rem;
  height: 4.9rem;
  position: absolute;
  left: 2.7rem;
  top: 11.2rem;
  display: flex;
  align-items: flex-start;
}
.mypage-KkV .auto-group-nsx7-X9j .ellipse-1-eVF {
  margin-right: 3rem;
  width: 4.7rem;
  height: 4.7rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-bg.png');
  border-radius: 2.35rem;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-pdub-7td {
  box-sizing: border-box;
  padding: 0.2rem 0.1rem 0.4rem 0.1rem;
  width: 5.1rem;
  height: 100%;
  background-color: #000000;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-pdub-7td .sex-eNm {
  margin-bottom: 0.3rem;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8181818182;
  letter-spacing: -0.15rem;
  color: rgba(166, 166, 166, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-pdub-7td .item--9KX {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: -0.15rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-jzym-3vh {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.4rem 0rem;
  width: 5.1rem;
  height: 100%;
  background-color: #000000;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-jzym-3vh .age-aQq {
  margin-bottom: 0.3rem;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8181818182;
  letter-spacing: -0.15rem;
  color: rgba(166, 166, 166, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-jzym-3vh .item-40-6ty {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: -0.15rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-trxt-DCu {
  box-sizing: border-box;
  padding: 0.2rem 0.1rem 0.4rem 0.1rem;
  width: 5.1rem;
  height: 100%;
  background-color: #000000;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-trxt-DCu .mbti-wPo {
  margin-bottom: 0.3rem;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8181818182;
  letter-spacing: -0.15rem;
  color: rgba(166, 166, 166, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-trxt-DCu .estj-rmf {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: -0.15rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-mclr-yrH {
  box-sizing: border-box;
  padding: 0.2rem 0.6rem 0.4rem 0.6rem;
  width: 5.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-mclr-yrH .item--6vu {
  margin: 0rem 2.3rem 0.3rem 0rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8181818182;
  letter-spacing: -0.15rem;
  color: rgba(166, 166, 166, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-mclr-yrH .item--o4d {
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: -0.15rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-wjr9-6ZX {
  box-sizing: border-box;
  padding: 0.2rem 1.7rem 0.4rem 1.6rem;
  width: 5.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-wjr9-6ZX .item--Rbo {
  margin: 0rem 0rem 0.3rem 0.2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8181818182;
  letter-spacing: -0.15rem;
  color: rgba(166, 166, 166, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nsx7-X9j .group-6-y1j .auto-group-wjr9-6ZX .a-XPw {
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: -0.15rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-KkV .rectangle-68-2rV {
  width: 26rem;
  height: 0.05rem;
  position: absolute;
  left: 9.5rem;
  top: 16.3rem;
  background-color: #d9d9d9;
}
.mypage-KkV .item--ZbX {
  width: 32.5rem;
  height: 4rem;
  position: absolute;
  left: 2.6rem;
  top: 17.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  letter-spacing: -0.15rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.mypage-KkV .auto-group-nxn1-Uru {
  width: 4.3rem;
  height: 2rem;
  position: absolute;
  left: 32.2rem;
  top: 21.2rem;
  display: flex;
  align-items: center;
}
.mypage-KkV .auto-group-nxn1-Uru .item--R1T {
  margin-right: 1.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  letter-spacing: -0.15rem;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-nxn1-Uru .vector-1-viu {
  width: 0.5rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .item--UEd {
  width: 1.9rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 32.2rem;
  top: 44.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  letter-spacing: -0.15rem;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-KkV .item--kxq {
  width: 1.9rem;
  height: 2rem;
  position: absolute;
  left: 32.2rem;
  top: 65.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  letter-spacing: -0.15rem;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-KkV .auto-group-merx-fK7 {
  width: 8.5rem;
  height: 2.4rem;
  position: absolute;
  left: 2.5rem;
  top: 26rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  letter-spacing: -0.15rem;
  color: #27b1b1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.mypage-KkV .auto-group-4njm-wGd {
  width: 8.5rem;
  height: 2.4rem;
  position: absolute;
  left: 2.5rem;
  top: 46.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  letter-spacing: -0.15rem;
  color: #27b1b1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.mypage-KkV .auto-group-16nv-RBo {
  width: 8.5rem;
  height: 2.4rem;
  position: absolute;
  left: 2.5rem;
  top: 69.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5384615385;
  letter-spacing: -0.15rem;
  color: #27b1b1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.mypage-KkV .auto-group-b817-gtR {
  width: 34.6rem;
  height: 12.4rem;
  position: absolute;
  left: 2.4rem;
  top: 29.1rem;
  display: flex;
  column-gap: 0.2rem;
  align-items: center;
}
.mypage-KkV .auto-group-b817-gtR .rectangle-69-1Qu {
  width: 8.5rem;
  height: 12.4rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-69-bg.png');
  flex-shrink: 0;
}
.mypage-KkV .auto-group-b817-gtR .rectangle-71-9X7 {
  width: 8.5rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-b817-gtR .rectangle-73-hHj {
  width: 8.5rem;
  height: 12.4rem;
  position: relative;
  background-size: 102.398% 100%;
  background-position: -0.1019rem 0;
  background-image: url('../assets/rectangle-73-BB7.png');
  flex-shrink: 0;
}
.mypage-KkV .auto-group-b817-gtR .rectangle-75-13X {
  width: 8.5rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-rveh-9fX {
  width: 34.6rem;
  height: 12.4rem;
  position: absolute;
  left: 2.4rem;
  top: 50.2rem;
  display: flex;
  column-gap: 0.2rem;
  align-items: center;
}
.mypage-KkV .auto-group-rveh-9fX .rectangle-70-5ZB {
  width: 8.5rem;
  height: 12.4rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-70-bg.png');
  flex-shrink: 0;
}
.mypage-KkV .auto-group-rveh-9fX .rectangle-72-2UR {
  width: 8.5rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-rveh-9fX .rectangle-74-mwo {
  width: 8.5rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-rveh-9fX .rectangle-76-LED {
  width: 8.5rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-kpbw-GNm {
  width: 29.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.5rem;
  top: 42.2rem;
  display: flex;
  align-items: center;
}
.mypage-KkV .auto-group-kpbw-GNm .rectangle-21-NKK {
  margin-right: 7rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-kpbw-GNm .rectangle-25-hMb {
  margin-right: 0.3rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-kpbw-GNm .rectangle-26-RoP {
  margin-right: 0.3rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-kpbw-GNm .rectangle-27-NTj {
  margin-right: 3.3rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-kpbw-GNm .rectangle-29-iXb {
  margin-right: 0.3rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-kpbw-GNm .rectangle-30-s9b {
  margin-right: 0.3rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-kpbw-GNm .rectangle-31-oJ9 {
  margin-right: 0.3rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-kpbw-GNm .rectangle-32-Los {
  margin-right: 1.4rem;
  width: 1.6rem;
  height: 1.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-32-bg.png');
  flex-shrink: 0;
}
.mypage-KkV .auto-group-kpbw-GNm .rectangle-33-gMw {
  margin-right: 0.3rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-kpbw-GNm .rectangle-34-E8Z {
  width: 1.6rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-pmrh-aTK {
  width: 29.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.5rem;
  top: 63.2rem;
  display: flex;
  align-items: center;
}
.mypage-KkV .auto-group-pmrh-aTK .rectangle-35-7CM {
  margin-right: 7rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-pmrh-aTK .rectangle-42-FpM {
  margin-right: 7.1rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-pmrh-aTK .rectangle-37-CDo {
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-pmrh-aTK .rectangle-43-kFK {
  margin-right: 0.3rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-pmrh-aTK .rectangle-44-tsK {
  margin-right: 3.6rem;
  width: 1.6rem;
  height: 1.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-44-bg.png');
  flex-shrink: 0;
}
.mypage-KkV .auto-group-pmrh-aTK .rectangle-38-e5o {
  margin-right: 0.3rem;
  width: 1.6rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-pmrh-aTK .rectangle-41-PJH {
  width: 1.6rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-xwv3-wKo {
  width: 34.9rem;
  height: 2.5003rem;
  position: absolute;
  left: 2rem;
  top: 6.5rem;
  display: flex;
  align-items: flex-end;
}
.mypage-KkV .auto-group-xwv3-wKo .auto-group-ho1t-UKj {
  margin: 0rem 15.3rem 0.3rem 0rem;
  width: 7.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-xwv3-wKo .auto-group-ho1t-UKj .item--cB3 {
  margin: 0rem 0.1rem 0.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: -0.15rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-xwv3-wKo .auto-group-ho1t-UKj .rectangle-4-HY5 {
  width: 100%;
  height: 0.1rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-xwv3-wKo .group-31T {
  margin: 0rem 1.3rem 0.1rem 0rem;
  width: 2.2rem;
  height: 1.7rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-xwv3-wKo .vector-ZVb {
  margin: 0rem 1.3rem 0.1rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-xwv3-wKo .vector-tXs {
  margin-right: 1.8351rem;
  width: 1.9649rem;
  height: 2.0003rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-KkV .auto-group-xwv3-wKo .group-S3b {
  margin-bottom: 0.3003rem;
  width: 1.4rem;
  height: 1.3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
